################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
*/obj
*/bin
*/Debug
/MarsvilleAgent/obj/MarsvilleAgent.csproj.nuget.dgspec.json
